nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 2em;
    .nav-logo{
        font-size: 3em;
        color: rebeccapurple;
    }
    .nav-btn-c{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        button{
            padding: 1em 2em;
            border-radius: .8em;
            cursor: pointer;
            font-weight: 600;
            background: #fff;
            transition: .3s;
        }
        #btn-login{
            border: 1px solid rebeccapurple;
            color: rebeccapurple;
        }
        #btn-login:hover{
            background: rebeccapurple;
            color: #fff;
        }
        #btn-signUp{
            background: rebeccapurple;
            border: 1px solid rebeccapurple;
            color: #fff;
        }
        #btn-signUp:hover{
            background: rgb(120, 52, 188);
            box-shadow: 2px 2px 3px rgba(50, 18, 194, 0.31);
        }
    }
}